* {
    box-sizing: border-box;
    outline: none;
    margin: 0 auto;
    font-family: 'ubuntu';
}

h1 {
    margin: 2rem;
    text-align: center;}

/* Grid Box */
#container {
    display: grid;
    gap: 0;
    margin: 1rem auto;
    width: 35rem;
    height: 35rem;
    border: 4px solid black;
}

.grid-size {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}


/* Individual Pixel */
.pixel {
    margin: 0;
    border: 0.5px solid rgb(182, 182, 182);
}

.single-color {
    background: coral;
}


/* Buttons */
.main-buttons {
    display: flex;
    justify-content: space-around;
    width: 35rem;
}

.style-button {
    padding: 1em 2em;
    margin: 0.5em;
    border-radius: 12px;
    background-color: rgb(255, 236, 229);
}

.style-button:hover {
    background-color: cornflowerblue;
}
