* {
    box-sizing: border-box;
    outline: none;
    margin: 0 auto;
}

/* Grid Box */
#container {
    display: grid;
    gap: 0;
    
    width: 35rem;
    height: 35rem;
    border: 4px solid black;
}

.grid-size {
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}


/* Individual Pixel */
.pixel {
    margin: 0;
    border: 0.5px solid rgb(182, 182, 182);
}

.single-color {
    background: coral;
}


/* Buttons */
.main-buttons {
    display: flex;
    justify-content: center;
}

.style-button {
    margin: 3em;
}